body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* background-image: url(https://img.freepik.com/premium-vector/hand-drawn-colorful-pizza-ingredients-seamless-pattern_564875-169.jpg); */
    background-image: url(https://media.istockphoto.com/id/1412198876/vector/ingredients-pizza-thin-line-seamless-pattern-background-vector.jpg?s=612x612&w=0&k=20&c=7GO0fHbK_t1Hy03sLHkBX1uqLrUfHQRq0H-qlNij6Uk=);
}
h1, h2, p{
    text-align: center;
}
h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.smile:hover{
    transform: rotate(534853045deg);
    transition: all 10s;
}
h2{
    font-size: 20px;
}
.about{
    font-family: italic;
}
.menu{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c6e779;
    padding: 20px;
    max-width: 500px;
}
hr{
    height: 2px;
    background-color: #000000;
    border-color: #d4ff6f;
}
.bottom-line{
    margin-top: 25px;
}
/* h1, h2 {
  font-family: Impact, serif;
} */
img{
    display: block;
    margin-top: -15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
}
.item p{
    display: inline-block;  
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.pizza, .drink{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}

.footer{
    font-size: 14px;
}

a{
    color: #000000;
}
a:hover{
    color: #333333;
}